 
<!--CSS-->
<link rel='stylesheet' id='gridGallery-css'  href='files/css/gridGallery.css' type='text/css' media='all' />
 <!-- PASSIONATE -->
      <div id="passionate" class="horizontalsection text-light parallax-section">
      <div class="horizontalinner wrapper align-center">
        <h2> build cool things with cool people       </h2>
        <div class="spacer spacer-small"></div>
        <p>
          <a href="./posts/new" class="scroll-to sr-button sr-button4 medium-button">Launch Idea</a>
        </p>
      </div>
    </div>
<%- model_class = Post -%>
<div class="page-header">
  <h4><%=t '.title', :default => Post %></h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:project_name) %></th>
      <th><%= model_class.human_attribute_name(:quick_pitch) %></th>
      <th><%= model_class.human_attribute_name(:full_pitch) %></th>
      <th><%= model_class.human_attribute_name(:youtube_id) %></th>
      <th><%= model_class.human_attribute_name(:to_the_table) %></th>
      <th><%= model_class.human_attribute_name(:compensation_method) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:tags) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.project_name %></td>
        <td><%= post.quick_pitch %></td>
        <td><%= post.full_pitch %></td>
        <td><%= post.youtube_id %></td>
        <td><%= post.to_the_table %></td>
        <td><%= post.compensation_method %></td>
        <td><%= post.location %></td>
        <td><%= post.tags %></td>
        <td><%=l post.created_at, format: :long %></td>
        <td>
          <%= link_to post_path(post), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %></div>

            <script>
        $( 'document' ).ready( function( ) {
          //INITIALIZE THE PLUGIN
          $( '#grid' ).grid( );

        } );

      </script>
