
     <title><%= @post.project_name %>| Launcherr </title>
      <!-- PAGEBODY -->
      <div class="page-body"></div>
        <!-- Cover Photo -->
        <div class="top-area">
          <%=image_tag @post.coverimage.url %></div>
        </div>
          <ul class="socialmedia-widget social-share">
            <li class="facebook">
              <a href="">Facebook</a>
            </li>
            <li class="twitter">
              <a href="">Tweet</a>
            </li>
            <li class="googleplus">
              <a href="">Google Plus</a>
            </li>
            <li class="pinterest">
              <a href="">Pinterest</a>
            </li>
          </ul><br>
        </div>


        <!-- MAIN PITCH SECTION -->
        <section id="portfolio">
          <div id="portfolio-singlee" class="section-innere">
            <div class="wrapper clearfix">

              <div class="main-content left-float">
                <!-- VIDEO SECTION -->
                <div class="entry-media portfolio-media">
                  <iframe width="400" height="230" src="https://www.kickstarter.com/projects/sdw/ride-north-a-moto-photographic-journey-from-sf-to/widget/video.html
                                    " frameborder="0" scrolling="no"> </iframe>

                </div>
                <!-- MAIN DESCRIPTION -->
                <br> <h6><strong>About <%= @post.project_name %> </h6></strong>
<br><%= @post.full_pitch %>
<br>

              <!-- COMPENSATION --></p>
              <h6><strong> How  You Will Be Compensated</strong></h6>
              <p><%= @post.compensation_method %></p>

                <!-- What Can Project Author Bring to the Table?-->                
                </p>
              <h6><strong> What can I bring to the table? </strong></h6>

              <p><%= @post.to_the_table %>
                <br> <br> 
                 </div>

                <!-- END .main-content -->

                <!-- PROJECT INFO // SIDEBAR -->
              </p>
              <aside class="right-float">
                            
                <!-- Start Location -->
                <div class="entry-content portfolio-content">
                
                  <h4><strong><%= @post.project_name %></strong></h4></div>
                  <h6> <i class="fa fa-map-marker"> </i> <%= @post.location %></h6>
                  <h6> <i class="fa fa-link"> </i> Project URL Needed</h6>
                  <h6> <i class="fa fa-clock-o"> </i> <%= @post.created_at %></i>.</h6><br><br>
                  <p><!-- END LOCATION -->
                                  
                                   <!-- START QUICK PITCH -->
                                  <p> <%= @post.quick_pitch %> </p><br><br><br>
                                  <!-- TEAM NEEDED -->

                                  <div class="entry-content portfolio-content"> <h4><strong> Team Needed</strong></h4></div>

                  <ul>
                    • Architect
                  </ul>
                  <ul>
                    • Timber Specialist
                  </ul>
                  <ul>
                    • 
                  Plumber
                  </ul>
                  <ul>
                    • Electrician
              </ul>
                  <ul>
                    <p>
                    • Handyman                  </p><br>
                  </ul>
                                  <br>
                                  <a data-toggle="modal" href="#myModal" class="sr-button sr-button5 big-button">JØIN TEAM</a></p>
                                  
                                
                    <!-- END COUNTDOWN -->
                    
              
                        

                  <!-- START TAGS  -->
                                     <div class="widget tag-widget">
                      <h6 class="widget-title"><strong>Tags</strong></h6>
                      <div class="tag-list">
                        <a href="#" title="design Tag" class="design-2">Tech</a> 
                        <a href="#" title="fiji Tag" class="fiji">App</a> 
                        <a href="#" title="motion Tag" class="motion-2">Startup</a> 
                        <a href="#" title="music Tag" class="music-2">Idea</a> 
                        <a href="#" title="photography Tag" class="photography-2">photography</a> 
                        <a href="#" title="surf Tag" class="surf">Team</a> 
                    </div>
                </div> <br><br>

                  <!-- For Post Authors -->

                   <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
                                  
                
                    
                    <!-- In the future we will build a countdown & and insert it here. -->
                    <!-- End tag-widget -->
                                     
                                
                               
                                
                            <!-- SIDEBAR -->

      </div>
            <!-- END .wrapper -->

            <div class="spacer spacer-big"></div>

          </div>
          <div class="modal hide" id="myModal"><!-- note the use of "hide" class -->
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Join <%= @post.project_name %></h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="sr-button sr-button2 mini-button" data-dismiss="modal">Bail</a><!-- note the use of "data-dismiss" -->
    <a href="#" class="sr-button sr-button5 mini-button">Join Team</a>
  </div>
</div>​
          <!-- END #portfolio-single .section-inner --><!-- END SECTION #portfolio-->
        <!-- PORTFOLIO SECTION -->

        <!-- FOOTER -->
