<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
	<!--<![endif]-->

<head>
  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Launcherr | Crowdsource Skills To Launch Ideas</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? %><meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>

<header id="header">
				<div class="header-inner wrapper clearfix">

					<div id="logo" class="left-float">
						<a id="defaut-logo" class="logotype" href="index.html"><img src="/assets/images/xone-logo.png" alt="Logo"></a>
					</div>

					<div class="menu left-float clearfix">
						<nav id="main-nav">
							<ul>
								<li class="current-menu-item">
									<a href="#" class="scroll-to">
									<div class="form-value">
										<input type="text" value=" Discover Ideas " onFocus="this.value=''" name="name" class="name" id="name" value="" />
									</div> </a>
								</li></i>
								
							</ul>
							</li>

							</ul>
						</nav>
						<nav id="menu-controls">
							
							
						</nav>
					</div>
					<center>
					<div class="right-float" style="text-align: left">
						<nav id="main-nav">
							<ul>
							
								<li>
									<a href="elements.html">My Account</a>
									<ul class="sub-menu">

										<li>
											<a href="portfolio-layout.html">My Projects</a>
										</li>
										<li>
											<a href="portfolio-layout.html">My Account</a>
										</li>
										<li>
											<a href="portfolio-layout.html">Inbox</a>
										</li>
										<li>
											<a href="portfolio-layout.html">Logout</a>
										</li>
								</li>
							</ul>
							</li>

							</ul>
						</nav>
					</div>
					</center>

				</div>
				<!-- END .header-inner -->
			</header>

			<!-- PASSIONATE -->
		<div id="passionate" class="horizontalsection text-light parallax-section">
			<div class="horizontalinner wrapper align-center">
			  <h2> build cool things with cool people				</h2>
				<div class="spacer spacer-small"></div>
				<p>
					<a href="application.html" class="scroll-to sr-button sr-button4 medium-button">Launch Idea</a>
				</p>
			</div>
		</div>


<%= yield %>

<!-- FOOTER -->
				<footer>
				  <div class="footerinner wrapper align-center text-light">
						<a id="backtotop" href="#" class="sr-button sr-buttonicon small-iconbutton"><i class="fa fa-angle-up"></i></a>
						<p class="footer-logo"><img src="files/uploads/xone-logo-footer.png" alt="Footer Logo">
						</p>
					<ul class="socialmedia-widget social-share">
							<li class="facebook">
								<a href="http://facebook.com/thelauncherr" target="_blank">Facebook</a>
							</li>
							<li class="twitter">
								<a href="http://twitter.com/thelauncherr" target="_blank">Tweet</a>
							</li>
							<li class="linkedin">
								<a href="http://www.linkedin.com/company/launcherr" target="_blank"> Linkedin</a>
							</li>
							<li class="instagram">
								<a href="http://instagram.com/launcherrcom" target="_blank">Instagram</a>
							</li>
				    </ul>
					  
					  <p class="copyright"><a href="http://blog.launcherr.com/about">About</a> | <a href="http://blog.launcherr.com">Blog</a> | <a href="http://blog.launcherr.com/contact">Contact</a></p>
					  </p>
						<p class="copyright">Copyright &copy; 2014 - Launcherr - Crowdsourcing Skills to Launch Ideas
				    </p>
					</div>
		  </footer>
				<!-- FOOTER -->
                

</body>
</html>
