<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
	<!--<![endif]-->

<head>
  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Launcherr | Crowdsource Skills To Launch Ideas</title>
		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,600|Raleway:300,600,900' rel='stylesheet' type='text/css'>
		<!-- FONTS -->
		 <!-- Bootstrap CSS-->
    <link href="/files/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- CSS -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- FAVICON -->
		<link rel="shortcut icon" href="files/uploads/favicon.png"/>
		<!-- FAVICON -->

		<!-- JQUERY LIBRARY & MODERNIZR -->
		<script src="files/js/jquery-1.9.1.min.js"></script>
		<script src='files/js/jquery.modernizr.min.js'></script>
		<!-- JQUERY LIBRARY & MODERNIZR -->

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? %><meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body>
<!-- header -->
<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>
<div id="page-content" class="fixed-header">
<header id="header">
				<div class="header-inner wrapper clearfix">

					<div id="logo" class="left-float">
						<a id="defaut-logo" class="logotype" href="/">
						<%= image_tag("headerlogo.png", :size => "64x64", :alt => "Show Group") %></a>
					</div>

					<div class="menu left-float clearfix">
						<nav id="main-nav">
							<ul>
								<li class="current-menu-item">
									<a href="#" class="scroll-to">
									<div class="form-value">
										<input type="text" value=" Discover Ideas " onFocus="this.value=''" name="name" class="name" id="name" value="" />
									</div> </a>
								</li></i>
								
							</ul>
							</li>

							</ul>
						</nav>
						<nav id="menu-controls">
							
							
						</nav>
					</div>
					<center>
					<div class="right-float" style="text-align: left">
					<!-- Logged in Header-->	
<% if defined?(Devise) %>
        <% if user_signed_in? %>
						<nav id="main-nav">
							<ul>
							
								<li> 
									<a href="">Welcome, .</a>
									<ul class="sub-menu">

									
											<li><%= link_to "My Account", edit_user_registration_path %></li>
										</li>
								
									  <li>
											<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
									  </li>
								</li>
							</ul>
							</li>

							</ul>
							<!-- END Logged in Header -->
<% else %>
				<div class="right-float" style="text-align: left">
						<nav id="main-nav">
							<ul>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      <% end %>
						</nav>
					</div>
					</center>

				</div>
				</header>
		</div>
			
            
		


<%= yield %>



<!-- FOOTER -->
				<footer>
				  <div class="footerinner wrapper align-center text-light">
						<a id="backtotop" href="#" class="sr-button sr-buttonicon small-iconbutton"><i class="fa fa-angle-up"></i></a>
						<p class="footer-logo"><%= image_tag("/footerlogo.png", :size => "", :alt => "") %></a>
						</p>
					<ul class="socialmedia-widget social-share">
							<li class="facebook">
								<a href="http://facebook.com/thelauncherr" target="_blank">Facebook</a>
							</li>
							<li class="twitter">
								<a href="http://twitter.com/thelauncherr" target="_blank">Tweet</a>
							</li>
							<li class="linkedin">
								<a href="http://www.linkedin.com/company/launcherr" target="_blank"> Linkedin</a>
							</li>
							<li class="instagram">
								<a href="http://instagram.com/launcherrcom" target="_blank">Instagram</a>
							</li>
				    </ul>
					  
					  <p class="copyright"><a href="http://blog.launcherr.com/about">About</a> | <a href="http://blog.launcherr.com">Blog</a> | <a href="http://blog.launcherr.com/contact">Contact</a></p>
					  </p>
						<p class="copyright">Copyright &copy; 2014 - Launcherr - Crowdsourcing Skills to Launch Ideas
				    </p>
					</div>
		  </footer>
				<!-- FOOTER -->
			<script>
				$( 'document' ).ready( function( ) {
					//INITIALIZE THE PLUGIN
					$( '#grid' ).grid( );

				} );

			</script>
                

</body>
</html>
